body {
background-color: #3490de;
font-family: 'Roboto Slab', serif;
}

h1 {
  color: #f0f0f0;
}

/* f0f0f0 off white, 9dda52 light green/yellow, 2eac6d light green, 3c2f3d marron.*/


.navbar_brand {
  font-size: 99px;
}

#boxRow {
  padding: 15px 50px 0px 50px;
}

/* #secondRow {
  padding: 25px 50px;
} */

.price-text {
  font-size: 3rem;
  line-height: 1.5;
}

.pricing-column {
  padding: 3% 2%;
  text-align: center;
}

.card {
  border-style: solid;
  border-color: black;
  border-width: 3px;
}
